@page
@model PrzepisyP.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Uzytkownik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Data_publikacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Skladniki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Likes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Przepis) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uzytkownik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_publikacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skladniki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
