@page
@model PrzepisyP.Pages.PrzepisDetailsModel
@{
}
<h2>Szczegóły przepisu</h2>
<span style="font-weight: bold;"> Nazwa: </span> @Model.przepis.Nazwa
<br />
<span style="font-weight: bold;"> Opis: </span> @Model.przepis.Opis
<br />
<span style="font-weight: bold;"> Id przepisu: </span> @Model.przepis.Id
<br />
<span style="font-weight: bold;"> Data publikacji: </span> @Model.przepis.Data_publikacji
<br />
<span style="font-weight: bold;"> Autor: </span> <a asp-page="Autor" asp-route-nazwa=@Model.przepis.Uzytkownik>@Model.przepis.Uzytkownik</a>
<br />
<span style="font-weight: bold;"> Składniki: </span>
<br />
<ol>
    @foreach (var item in Model.skladniki)
    {
        <text>
            <li>@item</li>
        </text>
    }
</ol>
@if (User.Identity.IsAuthenticated)
{
    @if (Model.ulubiony == 0)
    {
        <text><a asp-page="UlubionyDodaj" asp-route-id=@Model.przepis.Id asp-route-nazwa=@Model.User.Identity.Name>Dodaj do polubionych</a></text>
    }
    else
    {
        <text><a asp-page="UlubionyUsun" asp-route-id=@Model.przepis.Id asp-route-nazwa=@Model.User.Identity.Name>Usuń z polubionych</a></text>
    }
}

<br />
@if (@Model.oddanyLike == 1)
{
    <text>- @Model.przepis.Likes +</text>
}
else
{
    <text><a asp-page="Like" asp-route-id=@Model.przepis.Id asp-route-like="-1">-</a> @Model.przepis.Likes <a asp-page="Like" asp-route-id=@Model.przepis.Id asp-route-like="1">+</a></text>
}
<br />
<span style="font-weight: bold;"> Składniki: </span>
<form method="post">
    <div class="form-group">
        <button class="btn effect01">Powrót</button>
    </div>
</form>
